/* Global */
:root {
  /* Color */
  --color-black: #2d2d2d;
  --color-dark-black: #202020;
  --color-grey: #e5e5e5;
  --color-dark-grey: #c5c5c5;
  --color-white: #f2f2f2;
  --color-light-white: #ffffff;
  --color-blue: #5282f5;

  /* Font size */
  --font-medium: 1.3rem;
  --font-regular: 1.1rem;

  /* Border */
  --border: solid 1px var(--color-dark-grey);
  --border-radius: 4px;
}

/* Universal */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  height: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Sidebar */
.sidebar {
  flex: 1 1 20%;
  padding: 2em;
  color: var(--color-light-white);
  background-color: var(--color-black);
}

.sidebar__title {
  margin-top: 0;
  font-size: var(--font-medium);
  white-space: nowrap;
}

.sidebar__count {
  margin: 1.5em 0;
  font-size: var(--font-regular);
}

.count__name {
  margin: 0 0.5em;
}

.count__number {
  margin-left: 1em;
  font-size: var(--font-medium);
  font-weight: bold;
  color: var(--color-blue);
}

.sidebar__btn {
  padding: 0.25em 0.5em;
  margin-top: 1em;
  margin-right: 0.5em;
  font-size: var(--font-regular);
  color: var(--color-dark-black);
  background-color: var(--color-light-white);
  border: var(--border);
  border-color: var(--color-black);
  border-radius: var(--border-radius);
  white-space: nowrap;
}

.sidebar__btn:hover {
  opacity: 0.9;
}

/* Workout editor */
.workoutEditor {
  display: flex;
  flex-direction: column;
  flex: 1 1 80%;
  height: 100%;
  background-color: var(--color-grey);
}

/* Add form */
.add-form {
  display: flex;
  padding: 1em;
  background-color: var(--color-grey);
  border-bottom: var(--border);
}

.add-form__select,
.add-form__input {
  padding: 0.25em;
  font-size: var(--font-regular);
  color: var(--color-black);
  border: var(--border);
  border-radius: var(--border-radius);
  outline: none;
}

.add-form__input {
  width: 100%;
  margin: 0 0.5em;
}

.add-form__btn {
  padding: 0.25em 1em;
  font-size: var(--font-regular);
  color: var(--color-light-white);
  background-color: var(--color-black);
  border: var(--border);
  border-radius: var(--border-radius);
}

.add-form__btn:hover {
  opacity: 0.9;
}

/* Workouts */
.workouts {
  overflow-y: scroll;
}

/* Workout */
.workout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: var(--color-grey);
  border-bottom: var(--border);
}

.workout:hover {
  background-color: var(--color-dark-grey);
}

.workout__text {
  font-size: var(--font-medium);
  color: var(--color-black);
}

.workout__count {
  display: inline-block;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5em;
  color: var(--color-light-white);
  background-color: var(--color-blue);
  border-radius: 50%;
}

.workout__btn {
  margin: 0 0.1em;
  font-size: var(--font-medium);
  color: var(--color-black);
}

.workout__delete {
  font-size: var(--font-regular);
}

.workout__btn:hover {
  color: var(--color-blue);
}
